.flashcard {
  width: 30%;
  background-color: #d6d6d6;
  margin: 4px;

}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

#javascript-definition, #operators-definition, #variables-definition,
#variable-naming-conventions-definition, #functions-definition, #methods-definition, #arguements-definition, #parameters-definition,
#return-definition, #chaining-methods-definition, #strings-definition, #booleans-definition, #undefined-definition, #nan-definition, #escape-definition, #alert-definition, #comments-definition, #jquery-definition, #attributes-definition {
  display: none;
}

.outline {
  border-width: 5px;
  border-color: black;
}
